/* IMPORTS */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
/* IMPORT RULES */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
/* IMPORT RULES */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
/* IMPORT RULES */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
#yourpage h2 {
  color: #006C3A; }
#yourpage__content {
  width: 100%;
  height: 100vh;
  flex-direction: column; }
  #yourpage__content p {
    color: gray; }
  #yourpage__content--farming, #yourpage__content--questions {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../images/line.svg);
    background-repeat: no-repeat;
    background-position: bottom; }

/* IMPORT RULES */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
.sub-question-container {
  display: flex;
  align-items: center; }

.question-section {
  display: flex;
  align-items: center;
  justify-content: center; }

/* IMPORT RULES */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
/* #loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: var(--loader-background-color);
    text-align: center;
  }
  
  .spinner {
    border: 5px solid var(--light-grey);
    border-radius: 50%;
    border-top: 5px solid var(--light-green);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
     Safari 
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
*/
/* IMPORT RULES */
/* color variables */
/* inheritances */
#yourpage__content, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Fonts */
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Blk.eot");
  src: url("../fonts/ArlaIF_W_Blk.woff") format("woff"), url("../fonts/ArlaIF_W_Blk.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: bold;
  src: url("../fonts/ArlaIF_W_Bd.eot");
  src: url("../fonts/ArlaIF_W_Bd.woff") format("woff"), url("../fonts/ArlaIF_W_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-style: italic;
  src: url("../fonts/ArlaIF_W_It.eot");
  src: url("../fonts/ArlaIF_W_It.woff") format("woff"), url("../fonts/ArlaIF_W_It.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: lighter;
  src: url("../fonts/ArlaIF_W_Lt.eot");
  src: url("../fonts/ArlaIF_W_Lt.woff") format("woff"), url("../fonts/ArlaIF_W_Lt.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  src: url("../fonts/ArlaIF_W_Rg.eot");
  src: url("../fonts/ArlaIF_W_Rg.woff") format("woff"), url("../fonts/ArlaIF_W_Rg.ttf") format("truetype"); }
@font-face {
  font-family: 'arla';
  font-weight: 100;
  src: url("../fonts/ArlaIF_W_Th.eot");
  src: url("../fonts/ArlaIF_W_Th.woff") format("woff"), url("../fonts/ArlaIF_W_Th.ttf") format("truetype"); }
@font-face {
  font-family: 'arla-c';
  src: url("../fonts/ArlaIFCondensed_Bd.otf") format("opentype"); }
#login {
  background-image: url(../images/login-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1000; }

.login-wrapper {
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login-wrapper img {
    width: 50%;
    margin-bottom: 5vh; }
  .login-wrapper .login-h1 {
    background-color: white;
    padding: 10px 30px;
    margin: 5vh 0; }
    .login-wrapper .login-h1 h1 {
      width: auto;
      text-align: center;
      color: #006C3A;
      font-size: 35px; }
  .login-wrapper .login-code {
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px; }
    .login-wrapper .login-code .code-number {
      width: 15%;
      border: none;
      border-bottom: 3px black solid;
      font-size: 45px;
      text-align: center; }
  .login-wrapper #login-btn {
    color: white;
    background-color: #FF9837;
    padding: 10px 20px;
    font-size: 35px;
    margin-top: 6vh; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "arla-c", sans-serif;
  overflow-x: hidden; }

.hill-background {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  width: 100%; }

body {
  font-family: "arla-c", sans-serif;
  overflow-x: hidden; }

section {
  width: 100%;
  height: 100vh; }

.hide {
  display: none; }

nav {
  justify-content: space-between;
  width: 100%; }
  nav img {
    width: 120px;
    height: auto; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
