/* IMPORT RULES */
@import "_rules";
//////////////////

.sub-question-container {
  display: flex;
  align-items: center;
}

.question-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-indicators {
}
