/* color variables */
//greens
$dark-green: #006C3A; 
$green: #4BB131;
//reds
$red: #F8353C; 
$orange: #FF9837; 
$yellow: #FFCC32; 
//blue
$blue: #5AD0EF;
$dark-blue: #0B43AA; 
//grays
$dark-gray: #6F6F6F;
$gray: rgba(111, 111, 111, 0.5); 
$light-gray: #EBEBEC;     

/* inheritances */
%center { 
    display: flex;
    justify-content: center;
    align-items: center; 
}

%absolute-center {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
} 




/* Fonts */
@font-face {
    font-family: 'arla';   
    src: url('../fonts/ArlaIF_W_Blk.eot'); 
    src: url('../fonts/ArlaIF_W_Blk.woff') format('woff'), 
         url('../fonts/ArlaIF_W_Blk.ttf') format('truetype');
  }

  @font-face {
    font-family: 'arla';
    font-weight: bold;
    src: url('../fonts/ArlaIF_W_Bd.eot'); 
    src: url('../fonts/ArlaIF_W_Bd.woff') format('woff'), 
         url('../fonts/ArlaIF_W_Bd.ttf') format('truetype');
  } 
  
  @font-face {
    font-family: 'arla'; 
    font-style: italic;  
    src: url('../fonts/ArlaIF_W_It.eot'); 
    src: url('../fonts/ArlaIF_W_It.woff') format('woff'), 
         url('../fonts/ArlaIF_W_It.ttf') format('truetype');
  } 

  @font-face {
    font-family: 'arla';
    font-weight: lighter;  
    src: url('../fonts/ArlaIF_W_Lt.eot'); 
    src: url('../fonts/ArlaIF_W_Lt.woff') format('woff'), 
         url('../fonts/ArlaIF_W_Lt.ttf') format('truetype');
  } 

   @font-face {
    font-family: 'arla';  
    src: url('../fonts/ArlaIF_W_Rg.eot'); 
    src: url('../fonts/ArlaIF_W_Rg.woff') format('woff'), 
         url('../fonts/ArlaIF_W_Rg.ttf') format('truetype');
  }  

  @font-face {
    font-family: 'arla'; 
    font-weight: 100;
    src: url('../fonts/ArlaIF_W_Th.eot'); 
    src: url('../fonts/ArlaIF_W_Th.woff') format('woff'), 
         url('../fonts/ArlaIF_W_Th.ttf') format('truetype');
  }  

  @font-face { 
    font-family: 'arla-c'; 
    src: url('../fonts/ArlaIFCondensed_Bd.otf') format('opentype');    
  } 
   