.thankyou-wrapper{
    width: 70%;
    margin: auto;
    padding-top: 140px;
    max-width: 1000px;

    h1{
        text-align: center;
        font-size: 35px;
        color: $dark-green;
        margin-bottom: 8vh;
    }
}

.ty-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ty-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    width: 20%;
    z-index: 10;
    h3{
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        color: $dark-gray;
    }

    img{
        width: 100%;
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}

.ty-option:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    img{ 
        @extend %shadow;
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}


@media only screen and (max-width: 500px) {
    .thankyou-wrapper{
        width: 90%;
        padding-top: 80px;
        overflow-y: visible;
        h1{
            margin-bottom: 2vh;
        }
    }

    .ty-options{
        flex-direction: column;
    }

    .ty-option{
        width: 50%;
        margin-bottom: 4vh;
        h3{
            font-size: 24px;
            margin-top: 10px;
        }
    }
}