#tips h1 {
  text-align: center;
  font-size: 3em;
  color: $dark-green;
  padding-top: 20vh;
}

.tip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 5% 0;
  overflow-x: initial;
  flex-wrap: wrap;
  margin: 0 10%;
}

.tip-text {
  width: 28%;
  margin: 0 2rem 0 2rem;
  min-width: 300px;
}

.tip-text h2 {
  color: $dark-green;
  margin-bottom: 0.8rem;
}
.tip-text p {
  color: $dark-gray;
}

.tip-container:nth-child(odd) {
  flex-direction: row-reverse;
}

.tip-img {
  width: 16%;
  min-width: 300px;
  margin-top: 5vh;
}

#tips {
  overflow-y: scroll;
}

@media only screen and (max-width: 840px) {
    .tip-text{
      text-align: center;
    }
  }
