

.data-nav{
    height: 70vh;
    position: absolute;
    left: 0%;
    bottom: 15vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    z-index: 10;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.data-nav.first{
    left: 0;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.first-nav{
    -webkit-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
}

.data-category{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10%;
    padding: 5vh 0;
    -webkit-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.16);
    img{
        width: 20%;
    }
    h3{
        width: 40%;
        font-size: 25px;
    }
}


.next-nav{
    z-index: 9;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.last-nav.one-up{
    z-index: 8;
}

.last-nav{
    z-index: 7;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    background-color: $light-gray;
}

.data-category:hover{
    background-color: $light-gray;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.16);
}

.last-nav-cat:hover{
    background-color: white;
}

.next-nav.next, .last-nav.next{
    left: 25%;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.next-nav, .last-nav{
    h3{
        margin-left: 20%;
    }
}

.next-nav.next{
    -webkit-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
}



.last-nav.last{
    left: 50%;
    -webkit-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);

}

.data-content{
    width: 60%;
    margin-left: 30%;
    padding-top: 140px;
    text-align: center;

    h1{
        font-size: 40px;
        color: $dark-green;
    }
    #dataChart{
        height: 40vh;
        width: 80%;
        margin: 7vh auto;
        canvas{
            height: 40vh;
        width: 80%;
        margin: 7vh auto;
        background-color: white !important;
        padding: 3vh 4% !important;
        -webkit-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16) !important;
        -moz-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16) !important;
        box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.16) !important;
        }
    }
}

.one-up{
    z-index: 8;
}

.nav-close, .nav-overlay{
    display: none;
}

.hidden{
    display: none !important;
}

.data-header{
    display: none;
}


@media only screen and (min-width: 1100px) {

    .data-nav{
        max-width: 300px;
    }

    .data-nav.next{
        left: 300px;
    }

    .last-nav.last{
        left: 600px;
    }

}

@media only screen and (max-width: 500px) {
    
    .data-nav{
        width: 60%;
        left: -60%;
        bottom: 0;
        height: 80vh;
    }
    
    .data-nav.zero{
        left: -60%;
    }

    .next-nav.next{
        left: 0;
        z-index: 11;
    }

    .last-nav.next{
        left: 0;
    }

    .last-nav.last{
        left: 0;
    }

    .next-nav.last{
        z-index: 6;
    }

    .last-nav.one-up{
        z-index: 12;
    }


.nav-close{
    display: block;
    position: absolute;
    bottom: 2vh;
    left: -50%;
    z-index: 20;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.data-content{
    width: 90%;
    margin: auto;
    canvas{
        width: 90%;
    }
    .data-header{
        width: 70%;
    }
    .data-header:hover{
        cursor: pointer;
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
}



.nav-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}


.data-header{
    display: block;
    background-color: white;
    -webkit-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 14px 2px rgba(0,0,0,0.16);
    width: 40%;
    margin: auto;
    padding: 2vh 0;
    position: relative;
    z-index: 5;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    h2{
        font-size: 35px;
        color: $dark-green;
    }
}

#header-web{
    display: none;
}

}




