/* IMPORTS */
@import "_rules";
@import "_welcome";
@import "_intro";
@import "_chart";
@import "_yourpage";
@import "_question";
@import "_loader";
@import "_login";
@import "_howto";
@import "_prize";
@import "_thankyou";
@import "_check"; 
@import "_help";
@import "_yourdata";
@import "_tipspage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hill-background {
  position: fixed;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  z-index: -1;
}

body {
  font-family: "arla-c", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  @include tablet {overflow-y: scroll;} 
}

section {
  width: 100%;
  height: 100vh;
}

.hide {
  display: none;
}

nav {
  position: fixed;
  top: 20;
  z-index: 30;
  @extend %center; 
  justify-content: space-between;
  width: 100%;
  img {
    width: 120px;
    height: auto;
  }
}

#nav__user {
  margin-right: 2%;
  font-family: 'arla', sans-serif;
  position: absolute;
  z-index: 45;
  top: 30%;
  right: 2%;
  &__img {
    width: 25px;
    height: auto;  
  }
  &--wrapper {display: flex;
    flex-direction: row;  
    width: auto;  
    p { margin-top: 15px;
      margin-right: 15px;  
    }}
  &__window {opacity: 0;
  transition: .4s; 
  z-index: -1; 
  background-color: $light-gray; 
  margin-top: 10px;
  padding: 10px; 
  a{color: $dark-gray; img{width: 15%;} @extend %center; width: 100%; margin-bottom: 5px;  justify-content: space-between;} 
}  
  &__window.active{opacity: 1; z-index: 10;}   
}

#nav__gradient {
  position: absolute;
  display: none; 
  width: 100%;
  height: 200vh; // for some reason it only covers half the screen with 100vh? 
  /* background-color: rgba($color: #000000, $alpha: .5); */
  z-index: 40;  
}
 
#nav__gradient.active {
  display: block;
}

a {
  text-decoration: none;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $green;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-green;
}  


@media only screen and (max-width: 500px) {

  body{
    overflow-y: visible;
  }
}
